{
    debug
    on_demand_tls {
        ask https://portfolio-starter-kit-beta-six.vercel.app/api/tls_authoriser
        
        burst 5
        interval 2m
    }

    storage redis {
        host {$CADDY_CLUSTERING_REDIS_HOST}
        tls_enabled {$CADDY_CLUSTERING_REDIS_TLS}
        tls_insecure {$CADDY_CLUSTERING_REDIS_TLS_INSECURE}
    }
}

https:// {
    tls {
        on_demand
    }

    reverse_proxy https://portfolio-starter-kit-beta-six.vercel.app {
        header_down Strict-Transport-Security max-age=31536000
        header_up X-Real-IP {remote}
        header_up Host {upstream_hostport}
    }
}
